<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <%= link_to_previous_page resources, 'Previous', class: 'page-link' %>
    <%= link_to_next_page resources, 'Next', class: 'page-link' %>
  </ul>
</nav>