<div class="card my-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h1>Application Settings</h1>
  </div>
  <div class="card-body">
    <%= render "form", page: page %>
  </div>
</div>