<div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" id="adminSidebar">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <% Administrate::Namespace.new(:admin).resources.each do |resource| %>
        <li class="nav-item">
          <%= link_to(
            display_resource_name(resource),
            [namespace, resource.path.to_sym],
            class: "nav-link #{'active' if resource.path.to_s == controller_name}"
          ) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>